 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #ff3c00, #000000);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 681px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.27778rem;
  margin: 26px 117px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 60, 0, 1));
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-2 .u-list-1 {
  width: 1096px;
  margin: 27px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 1026px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 39px;
  height: 39px;
  margin: 102px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: -48px 44px 0 124px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 39px;
  height: 39px;
  margin: 102px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: -48px 44px 0 124px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 39px;
  height: 39px;
  margin: 102px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: -48px 44px 0 124px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 39px;
  height: 39px;
  margin: 102px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: -48px 44px 0 124px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 39px;
  height: 39px;
  margin: 102px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: -48px 44px 0 124px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-icon-6 {
  width: 39px;
  height: 39px;
  margin: 102px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-text-6 {
  margin: -48px 44px 0 124px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-icon-7 {
  width: 39px;
  height: 39px;
  margin: 102px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin: -48px 44px 0 124px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-icon-8 {
  width: 39px;
  height: 39px;
  margin: 102px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-text-8 {
  margin: -48px 44px 0 124px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 880px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 322px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -199px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -199px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -199px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: -199px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: -199px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: -199px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}@font-face {
  font-family: '7db44b80-39eb-bc34-2dd1-4d0418453d22';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/7db44b80-39eb-bc34-2dd1-4d0418453d22.otf);
}@font-face {
  font-family: 'e784b745-b274-e955-a64d-525917478a7e';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/e784b745-b274-e955-a64d-525917478a7e.otf);
}