.u-section-1 .u-sheet-1 {
  min-height: 801px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 470px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/photo-1554098415-788601c80aef.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 335px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 335px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 60px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 470px;
  background-image: url("images/photo-1573495627361-d9b87960b12d.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 387px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 277px;
  }

  .u-section-1 .u-image-2 {
    min-height: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1562px;
  }

  .u-section-1 .u-image-1 {
    min-height: 593px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 593px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1565px;
  }

  .u-section-1 .u-image-1 {
    min-height: 445px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 445px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 280px;
  }

  .u-section-1 .u-image-2 {
    min-height: 280px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1506px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1174px;
  margin: 124px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 455px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 455px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/photo-1554098415-788601c80aef.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-2 .u-text-3 {
  margin: 27px 0 0 13px;
}

.u-section-2 .u-text-4 {
  margin: 20px 30px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 455px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 18px;
}

.u-section-2 .u-text-5 {
  margin: 21px 0 0 12px;
}

.u-section-2 .u-text-6 {
  margin: 20px 12px 0;
}

.u-section-2 .u-image-2 {
  min-height: 455px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/photo-1460925895917-afdab827c52f.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-image-3 {
  min-height: 411px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/photo-1573495627361-d9b87960b12d.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 21px 0 0 18px;
}

.u-section-2 .u-image-4 {
  min-height: 411px;
  background-image: url("images/photo-1516321318423-f06f85e504b3.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-image-5 {
  min-height: 411px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/photo-1488590528505-98d2b5aba04b.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-2 .u-text-9 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-2 .u-image-6 {
  min-height: 411px;
  background-image: url("images/photo-1573164713988-8665fc963095.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

.u-section-2 .u-image-7 {
  min-height: 455px;
  background-image: url("images/photo-1573166584647-2c1366f9b219.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 20px;
}

.u-section-2 .u-image-8 {
  min-height: 455px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/photo-1489436969537-cf0c1dc69cba.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-image-9 {
  min-height: 455px;
  background-image: url("images/photo-1554098415-4052459dc340.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 20px;
}

.u-section-2 .u-image-10 {
  min-height: 455px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/photo-1454165804606-c3d57bc86b40.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-12 {
  padding: 20px 30px;
}

.u-section-2 .u-text-11 {
  font-size: 1.875rem;
  margin: 5px 0 0;
}

.u-section-2 .u-text-12 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-1 {
    min-height: 364px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 364px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 364px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-3 {
    min-height: 329px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 329px;
  }

  .u-section-2 .u-image-5 {
    min-height: 329px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-6 {
    min-height: 329px;
  }

  .u-section-2 .u-image-7 {
    min-height: 365px;
  }

  .u-section-2 .u-image-8 {
    min-height: 364px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-9 {
    min-height: 365px;
  }

  .u-section-2 .u-image-10 {
    min-height: 364px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3426px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-image-2 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-image-3 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-6 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-7 {
    min-height: 559px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-8 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-9 {
    min-height: 559px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-10 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6743px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 837px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 837px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 756px;
  }

  .u-section-2 .u-image-4 {
    min-height: 756px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 756px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 756px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    min-height: 839px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    min-height: 837px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    min-height: 839px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-10 {
    min-height: 837px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4350px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 527px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 527px;
  }

  .u-section-2 .u-image-3 {
    min-height: 476px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-4 {
    min-height: 476px;
  }

  .u-section-2 .u-image-5 {
    min-height: 476px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-6 {
    min-height: 476px;
  }

  .u-section-2 .u-image-7 {
    min-height: 528px;
  }

  .u-section-2 .u-image-8 {
    min-height: 527px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-9 {
    min-height: 528px;
  }

  .u-section-2 .u-image-10 {
    min-height: 527px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 511px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px 10px 0;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 10px 10px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 600;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px 10px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 600;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 10px 10px 0;
}

.u-section-3 .u-text-7 {
  font-weight: 600;
  margin: 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 10px 10px 0;
}

.u-section-3 .u-text-9 {
  font-weight: 600;
  margin: 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 10px 10px 0;
}

.u-section-3 .u-text-11 {
  font-weight: 600;
  margin: 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #4248bd, #2b6cd4);
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 686px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 155px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 476px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-4 .u-text-1 {
  margin: 0 1px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-line-1 {
  width: 396px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-line-2 {
  width: 396px;
  transform-origin: left center;
  height: 1px;
  margin: 0 21px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 453px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-form-1 {
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  letter-spacing: 0px;
  background-image: none;
  border-style: none;
  width: 100%;
  font-size: 1.125rem;
  text-transform: none;
  padding: 14px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 152px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 334px;
  }

  .u-section-4 .u-line-2 {
    width: 334px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-line-1 {
    width: 218px;
  }

  .u-section-4 .u-line-2 {
    width: 218px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 139px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 133px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}